<% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
<% end %>

<div class="description">
<h1>On Piste</h1>
<p>Your ski travel resource.</p>

<%= form_for(:session, url: login_path) do |f| %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit "Log In" %>
<% end %>

<%= button_to "Log In with Google", '/auth/google_oauth2' %>

</div>