<% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
<% end %>

<%= link_to "Log a Trip to #{@mountain.name}", new_mountain_trip_path(@mountain) %>
<br>
Mountain rating: &#9734 <%= @mountain.mountain_rating %>
<br>
<% @mountain.trails.each do |t| %>
    Name: <%= t.name %>
    Difficulty: <%= t.difficulty %>
    Average User Rating: &#9734 <%= t.trail_rating %>

    <% if current_user.mountains.include?(@mountain) %>
    <%= form_for Rating.new do |f| %>
        <%= f.label "Rate this Trail" %>
        <%= f.hidden_field :trail_id, value: t.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <% (1..5).each do |number| %>
        <%= f.radio_button :value, number %>
        <% end %>
        <%= f.submit "Submit" %>
    <% end %>
    <% end %>

<% end %>