<% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
<% end %>

<div class="container features">

<div class="row">
    <div class="col-4">
    <%= image_tag("#{@mountain.id}.jpg", style: 'margin: auto; width: 100%; border: 1px black') %>
    </div>
    <div class="col-4 my-auto">
    <h1><%= "#{@mountain.name}" %>, </h1>
    <h2><%= "#{@mountain.country}" %></h2>
    <p>&#9734 <%= @mountain.mountain_rating %></h4>
    </div>
    <div class="col-4 my-auto">
    <%if current_user.has_visited?(@mountain) %>
    <%= link_to "Log Another Trip to #{@mountain.name}", new_mountain_trip_path(@mountain) %>
    <%else%>
    To rate the trails at <%="#{@mountain.name}"%>,<br>
    <%= link_to "Log a Trip", new_mountain_trip_path(@mountain) %>
    <%end%>
    </div>
  </div>
<br>

  <div class="row">
    <div class="col-12">
    <h3 class="feature-title">Top Trails</h3>

<% @mountain.trails.each do |t| %>
    <div class="row">
    <div class="col-3">
    <strong><%= t.name %></strong> &#9734 <%= t.trail_rating %>
    </div>
    <div class="col-3">
    <strong>Level:</strong> <%= t.difficulty %>
    </div>
    <div class="col-4">
    <% if current_user.has_visited?(@mountain) %>
    <%= form_for Rating.new do |f| %>
        <%= f.label "Rate this Trail" %>
        <%= f.hidden_field :trail_id, value: t.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <% (1..5).each do |number| %>
        <%= f.radio_button :value, number %>
        <% end %>
        <%= f.submit "Submit" %>
    <% end %>
    <% end %>
    </div>
    </div>
    <br>
<% end %>
</div>
</div>